.category-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
.info-button {
    font-size: 18px;
    color: #065f46;
    cursor: pointer;
    margin-left: 8px;
    flex-shrink: 0;
  }
  
.category-example {
    font-size: 13px;
    color: #065f46;
    margin-top: 6px;
  }